<h2 md-dialog-title>Waiver Application Creator</h2>
<md-dialog-content>
  <form [formGroup]="createForm">
    <div layout="row" class="pad-bottom" flex>
      <pams-account-select
        [placeholder]="'Select Account'"
        [innerFormControl]="createForm.controls['account']"
        fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-account-select>
    </div>

      <div layout="row" class="pad-bottom" flex>
      <pams-academic-session-select
        [placeholder]="'Select Academic Session'"
        [innerFormControl]="createForm.controls['academicSession']"
        fxFlex="calc(100%-25px)" class="pad-bottom">
      </pams-academic-session-select>
      </div>

      <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput #description
               placeholder="description"
               formControlName="description" flex/>
              <div class="error" class="tc-red-600"
              *ngIf="createForm.get('description').invalid && createForm.get('description').touched">Description is Required!
              </div>
      </md-input-container>
      </div>

      <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput #reason
               placeholder="reason"
               formControlName="reason" flex/>
               <div class="error" class="tc-red-600"
               *ngIf="createForm.get('reason').invalid && createForm.get('reason').touched">Reason is Required!
              </div>
      </md-input-container>
      </div>

      <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput #reason
               placeholder="Waived amount"
               formControlName="waivedAmount"
               type="number" flex/>
               <div class="error" class="tc-red-600"
               *ngIf="createForm.get('waivedAmount').invalid && createForm.get('waivedAmount').touched">Waived amount is Required!
              </div>
      </md-input-container>
      </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="save(createForm.value, createForm.valid)" [disabled] ="!createForm.valid" >Save</button>
</md-dialog-actions>

