<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #list>
    <md-nav-list list-items>

    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Advance Payment Center</span>
    </div>

    <md-card>
           <pams-advance-payment-list
            [advancePayments]="advancePayments$ | async"
            (knockoffCreateDialog)="knockoffCreateDialog($event)" 
            (refundPaymentCreateDialog)="refundPaymentCreateDialog($event)"></pams-advance-payment-list>
    </md-card>

  </td-layout-manage-list>
</td-layout-nav>
