<div toolbar-buttons layout="row" layout-align="start center" flex>
  <md-card-title>Charges
  </md-card-title>
  <md-chip-list *ngIf="charges?.length > 0">
    <md-chip color="accent">{{charges?.length}}</md-chip>
  </md-chip-list>
  <span flex></span>
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>add</md-icon>
  </button>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="showSecurityChargeDialog()">Security Charge</button>
    <button md-menu-item (click)="showAdmissionChargeDialog()">Admission Charge</button>
    <button md-menu-item (click)="showStudentAffairsChargeDialog()">Student Affairs Charge</button>
  </md-menu>
</div>
<md-divider></md-divider>
<pams-security-charge
  [account]="account"
  [securityAccountCharges]="securityAccountCharges">
</pams-security-charge>
<pams-student-affairs-charge
  [account]="account"
  [studentAffairsAccountCharges]="studentAffairsAccountCharges">
</pams-student-affairs-charge>
<pams-admission-charge
  [account]="account"
  [admissionAccountCharges]="admissionAccountCharges">
</pams-admission-charge>