<md-card>
  <md-card-title>Account Activities</md-card-title>
  <md-card-subtitle>List of account activities</md-card-subtitle>
  <md-tab-group [selectedIndex]="0">
    <md-tab label="Transactions">
      <md-list dense>
        <template let-transaction let-last="last" ngFor [ngForOf]="transactions">
          <md-list-item layout-align="row">
            <h3 md-line>{{transaction.sourceNo}}</h3>
            <p md-line> {{transaction.amount}} </p>
            <span flex="30" class="md-body-1 tc-grey-500 text-right">{{transaction.postedDate}}</span>
          </md-list-item>
          <md-divider *ngIf="!last"></md-divider>
        </template>
      </md-list>
    </md-tab>
  </md-tab-group>
</md-card>
