<td-expansion-panel label="Security Charge">
    
    <div toolbar-buttons layout="row" layout-align="start center" flex>
  <md-card-title>Security Charges
  </md-card-title>
  <md-chip-list *ngIf="securityAccountCharges?.length > 0">
    <md-chip color="accent">{{securityAccountCharges?.length}}</md-chip>
  </md-chip-list>
  <span flex></span>
</div>
    <button md-button class="md-icon-button" (click)="editDialog()">
      <md-icon>edit</md-icon>
    </button>
    <button md-button class="md-icon-button" (click)="delete()">
      <md-icon>delete</md-icon>
    </button>

  <td-data-table
  [data]="securityAccountCharges"
  [columns]="securityChargeColumns"
  [sortable]="false"
  [multiple]="false"
  [selectable]="false"
  dense>

  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span>
    </div>
  </template>
</td-data-table>
  </td-expansion-panel>