<td-layout-nav toolbarTitle="Code Manager">

  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">

    <md-toolbar td-sidenav-content>
      <span>Account Setup Menu</span>
    </md-toolbar>

    <md-nav-list td-sidenav-content dense>

      <a md-list-item [routerLink]="['/secure/setup/bank-codes']">
        <md-icon>label</md-icon>
        Bank Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/cohort-codes']">
        <md-icon>label</md-icon>
        Cohort Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/graduate-centres']">
        <md-icon>label</md-icon>
        Graduate Centre
      </a>
      <a md-list-item [routerLink]="['/secure/setup/program-codes']">
        <md-icon>label</md-icon>
        Program Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/residency-codes']">
        <md-icon>label</md-icon>
        Residency Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/supervisor-codes']">
        <md-icon>label</md-icon>
        Supervisor Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/faculty-codes']">
        <md-icon>label</md-icon>
        Faculty Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/tax-codes']">
        <md-icon>label</md-icon>
        Tax Code
      </a>
      <a md-list-item [routerLink]="['/secure/setup/security-charge-code']">
        <md-icon>label</md-icon>
        Security Charge Code
      </a>
    </md-nav-list>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>{{title$ | async}}</span>
    </div>

    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout-nav>
