<td-layout-nav toolbarTitle="Billing Center">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Billing</h3>
      <a md-list-item [routerLink]="['/secure/billing/invoices']">
        <md-icon>label</md-icon>
        Invoices
      </a>
      <a md-list-item [routerLink]="['/secure/billing/receipts']">
        <md-icon>label</md-icon>
        Receipt
      </a>
      <a md-list-item [routerLink]="['/secure/billing/debit-notes']">
        <md-icon>label</md-icon>
        Debit Note
      </a>
      <a md-list-item [routerLink]="['/secure/billing/credit-notes']">
        <md-icon>label</md-icon>
        Credit Note
      </a>
      <a md-list-item [routerLink]="['/secure/billing/advance-payments']">
        <md-icon>label</md-icon>
        Advance Payment
      </a>
      <a md-list-item [routerLink]="['/secure/billing/knockoffs']">
        <md-icon>label</md-icon>
        Knockoff
      </a>
      <a md-list-item [routerLink]="['/secure/billing/waiver-finance-applications']">
        <md-icon>label</md-icon>
        Waiver Finance Application
      </a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">settings</md-icon>
      </button>
      <button md-button class="md-icon-button">
        <md-icon class="md-24">more_vert</md-icon>
      </button>
    </div>

  </td-layout-manage-list>
</td-layout-nav>
