<h2 md-dialog-title>Security Charge Code</h2>
<md-dialog-content>
  <form [formGroup]="editorForm">
    <div layout="row" class="inset" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Compound Section"
               formControlName="section"
               flex/>
               <div class="error" class="tc-red-600"
               *ngIf="editorForm.get('section').invalid && editorForm.get('section').touched">Compound Section is Required!
               </div>
      </md-input-container>
    </div>
    <div layout="row" class="inset" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Compound Description"
               formControlName="description"
               flex/>
               <div class="error" class="tc-red-600"
               *ngIf="editorForm.get('description').invalid && editorForm.get('description').touched">Compound Description is Required!
               </div>
      </md-input-container>
    </div>
    <div layout="row" class="inset" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Compound Offense"
               formControlName="offense"
               flex/>
               <div class="error" class="tc-red-600"
               *ngIf="editorForm.get('offense').invalid && editorForm.get('offense').touched">Compound Offense is Required!
               </div>
      </md-input-container>
    </div>
    <div layout="row" class="inset" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Compound Offense Description"
               formControlName="offenseDescription"
               flex/>
               <div class="error" class="tc-red-600"
               *ngIf="editorForm.get('offenseDescription').invalid && editorForm.get('offenseDescription').touched">Compound Offense Description is Required!
               </div>
      </md-input-container>
    </div>
    <div layout="row" class="inset" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Compound Amount"
               formControlName="amount"
               flex/>
               <div class="error" class="tc-red-600"
               *ngIf="editorForm.get('amount').invalid && editorForm.get('amount').touched">Compound Amount is Required!
               </div>
      </md-input-container>
    </div>
    <div layout="row" class="inset" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Compound Amount Description"
               formControlName="amountDescription"
               flex/>
               <div class="error" class="tc-red-600"
               *ngIf="editorForm.get('amountDescription').invalid && editorForm.get('amountDescription').touched">Compound Amount Description is Required!
               </div>
      </md-input-container>
    </div>
    <div>
      <pams-tax-code-select [placeholder]="'Tax Code'" [innerFormControl]="editorForm.controls['taxCode']" fxFlex="calc(100%-25px)"
        class="pad-bottom">
      </pams-tax-code-select>
    </div>
    <div layout="row" class="pad-bottom">
      <md-checkbox formControlName="inclusive">
        <div layout="column" flex>
          Inclusive
        </div>
      </md-checkbox>
    </div>
    <div layout="row" class="pad-bottom">
      <md-checkbox formControlName="active">
        <div layout="column" flex>
          Active
        </div>
      </md-checkbox>
    </div>
  </form>
</md-dialog-content>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="submit(editorForm.value, editorForm.valid)"  [disabled] ="!editorForm.valid">
    {{edit ? 'Update' : 'Save'}}
  </button>
</md-dialog-actions>
