<h2 md-dialog-title>Student Affairs</h2>
  <form [formGroup]="editForm">
      <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput #input
               placeholder="Source No"
               formControlName="sourceNo"
               flex/>
      </md-input-container>
            <div class="error" class="tc-red-600"
            *ngIf="editForm.get('sourceNo').invalid && editForm.get('sourceNo').touched">source No is Required!
          </div>
    </div>
    <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput type = 'number'
               placeholder="Amount"
               formControlName="amount"
               flex/>
      </md-input-container>
                <div class="error" class="tc-red-600"
            *ngIf="editForm.get('amount').invalid && editForm.get('amount').touched">Amount is Required!
          </div>
    </div>
    <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput type="date"
               placeholder="Date of Charge"
               formControlName="chargeDate"
               flex/>
      </md-input-container>
          <div class="error" class="tc-red-600"
            *ngIf="editForm.get('chargeDate').invalid && editForm.get('chargeDate').touched">charge Date is Required!
          </div>  
    </div>
     <div layout="row" class="pad-bottom" flex>
      <md-input-container flex>
        <input mdInput
               placeholder="Description"
               formControlName="description"
               flex/>
      </md-input-container>
          <div class="error" class="tc-red-600"
            *ngIf="editForm.get('description').invalid && editForm.get('description').touched">Description is Required!
          </div>
    </div>
  </form>
<md-dialog-actions align="end">
  <button md-raised-button color="accent" (click)="submit(editForm.value, editForm.valid)" [disabled]="!editForm.valid">
    {{edit ? 'Update' : 'Save'}}
  </button>
</md-dialog-actions>
