<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Academic Management System</span>
    <span flex></span>
  </div>

  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <pams-account [account]="account$ | async"></pams-account>

        <md-card>
          <md-tab-group [selectedIndex]="0">
            <md-tab label="Account Activities">
              <pams-account-activity-list
                [activity]="accountActivities$ | async"
              ></pams-account-activity-list>
              
              <pams-account-charge-activity-list
              [chargeActivity]="accountChargesActivities$ | async">
              </pams-account-charge-activity-list>
            </md-tab>

            <md-tab label="Charges">
              <pams-account-charge-list
                [account]="account$ | async"
                [admissionAccountCharges]="admissionAccountCharges$ | async"
                [securityAccountCharges]="securityAccountCharges$ | async"
                [studentAffairsAccountCharges]="studentAffairsAccountCharges$ | async"
                [loanAccountCharges]="loanAccountCharges$ | async">
              </pams-account-charge-list>
            </md-tab>

            <md-tab label="Waivers">
              <pams-account-waiver-list [waivers]="accountWaivers$ | async"></pams-account-waiver-list>
            </md-tab>

<!--             <md-tab label="Sponsorships">
              <pams-account-sponsorship-list
               [account]="account$ | async"
               [sponsorships]="sponsorships$ | async"></pams-account-sponsorship-list>
            </md-tab> -->
          </md-tab-group>
        </md-card>
      </div>

      <div flex-gt-md="30">
        <pams-account-status [account]="account$ | async"></pams-account-status>
        <pams-account-action [account]="account$ | async"></pams-account-action>
      </div>
    </div>
  </div>
</td-layout-nav>
