<td-layout-nav toolbarTitle="Marketing Center">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Listing Invoice</h3>
      <a md-list-item [routerLink]="['/secure/listing/listing-invoice']">
        <md-icon>label</md-icon>
        Listing Invoice
      </a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
    </div>

  </td-layout-manage-list>
</td-layout-nav>
