<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Academic Management System</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex>Debit Note Center</span>
    </div>

    <div layout="row" layout-wrap>
    </div>
    <md-card>
      <md-tab-group [selectedIndex]="0">
        <md-tab label="Assigned">
          <pams-assigned-debit-note-task-list
            [debitNoteTasks]="assignedDebitNoteTasks$ | async"
            (view)="viewTask($event)"></pams-assigned-debit-note-task-list>
          <md-divider></md-divider>
        </md-tab>
        <md-tab label="Pooled">
          <pams-pooled-debit-note-task-list
            [debitNoteTasks]="pooledDebitNoteTasks$ | async"
            (claim)="claimTask($event)">
          </pams-pooled-debit-note-task-list>
        </md-tab>
        <md-tab label="Archived">
          <pams-archived-debit-note-list
            [debitNotes]="archivedDebitNotes$ | async"
            (view)="viewDebitNote($event)"></pams-archived-debit-note-list>
        </md-tab>
      </md-tab-group>
    </md-card>
  </td-layout-manage-list>
</td-layout-nav>
