<td-layout-nav toolbarTitle="Listing Center">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Listing</h3>
      <a md-list-item [routerLink]="['/secure/listing/listing-invoice']">
        <md-icon>label</md-icon>
        Invoice
      </a>
      <a md-list-item [routerLink]="['/secure/listing/listing-receipt']">
        <md-icon>label</md-icon>
        Receipt
      </a>
      <a md-list-item [routerLink]="['/secure/listing/listing-debit-note']">
        <md-icon>label</md-icon>
        Debit Note
      </a>
      <a md-list-item [routerLink]="['/secure/listing/listing-credit-note']">
        <md-icon>label</md-icon>
        Credit Note
      </a>
      <a md-list-item [routerLink]="['/secure/listing']">
        <md-icon>label</md-icon>
        Advance Payment Statement
      </a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
    </div>
  </td-layout-manage-list>
</td-layout-nav>
