<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <div md-content flex md-scroll-y>
    <div layout="column" layout-gt-md="row" class="inset">
      <div flex-gt-md="70">
        <pams-promo-code [promoCode]="promoCode$ | async"></pams-promo-code>
        <pams-promo-code-item-list  [promoCodeItems]="promoCodeItems$ | async"></pams-promo-code-item-list>
      </div>

      <div flex-gt-md="30">
        <md-card>
          <md-card-title>Action</md-card-title>
          <md-card-subtitle>Actions available on current promoCode</md-card-subtitle>
          <md-divider></md-divider>

          <md-nav-list flex dense>
            <md-list-item [routerLink]="['/promoCodes-reopen', promoCode?.code]">
              <md-icon md-list-avatar>gavel</md-icon>
              <h4 md-line>Deactivate</h4>
              <p md-line>Deactivate this promoCode</p>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Notification</h3>
            <md-list-item>
              <md-icon md-list-avatar>visibility</md-icon>
              <h4 md-line>Watch</h4>
              <p md-line>Watch this promoCode</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-avatar>email</md-icon>
              <h4 md-line>Share</h4>
              <p md-line>Share this promoCode with others</p>
            </md-list-item>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </div>
</td-layout-nav>
