<td-layout-nav>
  <div toolbar-content layout="row" layout-align="center center" flex>
    <span>PAMS: Postgraduate Management System</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #list>
    <md-nav-list list-items>
      <a md-list-item (click)="showDialog()">
        <md-icon>create</md-icon>
        Create Fee Schedule
      </a>
      <md-divider></md-divider>
    </md-nav-list>



    <md-card>
          <div toolbar-buttons layout="row" layout-align="start center" flex>
             <button md-button class="md-icon-button" (click)="download()">
                <md-icon class="md-24 tc-grey-700">file_download</md-icon>
              </button>

              <div layout="column" class="pad-right" flex>
                <div layout="row">
                  <td-file-upload #fileUpload (upload)="upload($event)" defaultColor="accent" activeColor="warn" cancelColor="primary">
                    <md-icon>file_upload</md-icon>
                    <span>{{ fileUpload.files?.name }}</span>
                    <template td-file-input-label>
                      <md-icon>attach_file</md-icon>
                      <span>Choose a file...</span>
                    </template>
                  </td-file-upload>
                </div>
              </div>

      </div>
       <div>

      <pams-fee-schedule-list [feeSchedules]="feeSchedules$ | async">
      </pams-fee-schedule-list>

        <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="filter($event)">
              </td-search-box>
        </div>
    </md-card>
    <md-card>
   <p>Select Event: {{fileSelectMultipleMsg}}</p>
<p>Upload Event: {{fileUploadMultipleMsg}}</p>
<td-file-upload #fileMultipleUpload (select)="selectMultipleEvent($event)" (upload)="uploadMultipleEvent($event)" (cancel)="cancelMultipleEvent()"
                accept=".sql" defaultColor="accent" activeColor="warn" cancelColor="primary" multiple [disabled]="disabled">
  <md-icon>file_upload</md-icon>
  <span>
    {{ fileMultipleUpload.files?.name || fileMultipleUpload.files?.length }} <span *ngIf="fileMultipleUpload.files?.length">files selected</span>
  </span>
  <ng-template td-file-input-label>
    <md-icon>attach_file</md-icon><span>Choose multiple .sql files...</span>
  </ng-template>
</td-file-upload>
    </md-card>

        

     


  </td-layout-manage-list>
</td-layout-nav>