<td-data-table
  [data]="settlements"
  [columns]="columns"
  [sortBy]="summary"
  [sortOrder]="ASC"
  [sortable]="false"
  [multiple]="false"
  [selectable]="false"
  (rowSelect)="view.emit($event)" dense>
  <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <span flex>{{value}}</span>
    </div>
  </template>
  <template tdDataTableTemplate="executed" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <md-icon *ngIf="value" class="md-24 tc-grey-700">done</md-icon>
    </div>
  </template>
  <template tdDataTableTemplate="action" let-value="value" let-row="row" let-column="column">
    <div layout="row">
      <a md-button color="accent" class="text-upper" [routerLink]="['/secure/financialaid/settlements', row['referenceNo']]">
        <span>View</span>
      </a>
    </div>
  </template>
</td-data-table>
