 <md-card class="">
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <md-card-title>Receipt Items
    </md-card-title>
    <span flex></span>
    <button md-button class="md-icon-button" (click)="edit(selectedRows[0])" [disabled]="selectedRows.length != 1">
      <md-icon class="md-24 tc-grey-700" [ngClass]="{'tc-grey-700': selectedRows.length === 1}">edit</md-icon>
    </button>
    <button md-button class="md-icon-button" (click)="delete()">
      <md-icon class="md-24 tc-grey-300" [ngClass]="{'tc-grey-700': selectedRows.length > 0}">delete</md-icon>
    </button>
  </div>
  <md-divider></md-divider>
  <td-data-table
    #dataTable
    [data]="receiptItems"
    [columns]="columns"
    [sortBy]="summary"
    [sortOrder]="ASC"
    [sortable]="false"
    [multiple]="true"
    [selectable]="true"
    [(ngModel)]="selectedRows"
    (rowSelect)="selectRow($event)"
    (selectAll)="selectAllRows($event)"
    dense>
    <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <span flex="40">{{value}}</span>
      </div>
    </template>
    <template tdDataTableTemplate="dueAmount" let-value="value" let-row="row" let-column="column">
      <div layout="row">{{row['dueAmount'] | number:'1.2-2'}}</div>
    </template>
    <template tdDataTableTemplate="appliedAmount" let-value="value" let-row="row" let-column="column">
      <div layout="row">{{row['appliedAmount'] | number:'1.2-2'}}</div>
    </template>
    <template tdDataTableTemplate="totalAmount" let-value="value" let-row="row" let-column="column">
      <div layout="row">{{row['totalAmount'] | number:'1.2-2'}}</div>
    </template>
  </td-data-table>
</md-card>