<md-card>
  <md-card-title>Receipt Items</md-card-title>
  <div toolbar-buttons layout="row" layout-align="start center" flex>
    <span flex></span>
    <button md-button class="md-icon-button" (click)="edit(row)">
    <md-icon class="md-24 tc-grey-700">edit</md-icon> 
    </button>
    <button md-button class="md-icon-button" (click)="delete(selectedRows)">
      <md-icon class="md-24 tc-grey-700">delete</md-icon>
    </button>
  </div>
  <md-divider></md-divider>

  <td-data-table
    #dataTable
    [data]="receiptItems"
    [columns]="columns"
    [sortBy]="summary"
    [sortOrder]="ASC"
    [sortable]="false"
    [multiple]="true"
    [selectable]="true"
    [(ngModel)]="selectedRows"
    (rowSelect)="selectRow($event)"
    (selectAll)="selectAllRows($event)"
    dense>
    <template tdDataTableTemplate="key" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <span flex="40">{{value}}</span>
      </div>
    </template>
  </td-data-table>

