<td-layout-nav toolbarTitle="Listing Center">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
    </div>
    <div md-content flex md-scroll-y>
      <form [formGroup]="editForm">
        <div layout="column" layout-gt-md="row" class="inset">
          <div flex-gt-md="70">
            <md-card>
              <md-card-title>Listing Credit Note</md-card-title>
              <md-card>
                <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                  <md-input-container fxFlex="calc(100%-25px)">
                    <input mdInput type="date" placeholder="Start Date" formControlName="Start_date" />
                  </md-input-container>
                </div>
                <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                  <md-input-container fxFlex="calc(100%-25px)">
                    <input mdInput type="date" placeholder="End Date" formControlName="End_date" />
                  </md-input-container>
                </div>
                <div layout="row" class="pad-bottom" flex>
                  <pams-program-code-select [placeholder]="'Select Program Code'" [innerFormControl]="editForm.controls['programCode']" fxFlex="calc(100%-25px)"
                    class="pad-bottom">
                  </pams-program-code-select>
                </div>
                <div layout="row" class="pad-bottom" flex>
                  <pams-program-level-select [placeholder]="'Select Program Level'" [innerFormControl]="editForm.controls['programLevel']"
                    fxFlex="calc(100%-25px)" class="pad-bottom">
                  </pams-program-level-select>
                </div>
                <div layout="row" class="pad-bottom" flex>
                  <pams-credit-note-status-type-select [placeholder]="'Credit Note Status Type'" [innerFormControl]="editForm.controls.creditNoteStatusType"
                    fxFlex="calc(100%-25px)">
                  </pams-credit-note-status-type-select>
                </div>
                <md-card-subtitle>
                  <a *ngIf="this.editForm.value.creditNoteStatusType === 'ALL'" md-button color="accent" class="text-upper" (click)="downloadReport('AC_BLG_013.jrxml', editForm)"
                    [target]="'_blank'">
                    <span>View Listing Credit Note</span>
                  </a>
                  <a *ngIf="this.editForm.value.creditNoteStatusType === 'REGISTERED'" md-button color="accent" class="text-upper" (click)="downloadReport('AC_BLG_013.jrxml', editForm)"
                    [target]="'_blank'">
                    <span>View Listing Credit Note</span>
                  </a>
                  <a *ngIf="this.editForm.value.creditNoteStatusType === 'VERIFIED'" md-button color="accent" class="text-upper" (click)="downloadReport('AC_BLG_013.jrxml', editForm)"
                    [target]="'_blank'">
                    <span>View Listing Credit Note</span>
                  </a>
                  <a *ngIf="this.editForm.value.creditNoteStatusType === 'COMPLETED'" md-button color="accent" class="text-upper" (click)="downloadReport('AC_BLG_013.jrxml', editForm)"
                    [target]="'_blank'">
                    <span>View Listing Credit Note</span>
                  </a>
                </md-card-subtitle>
              </md-card>
            </md-card>
          </div>
        </div>
      </form>
    </div>
  </td-layout-manage-list>
</td-layout-nav>