<td-layout-nav toolbarTitle="Listing Center">
  <td-layout-manage-list #list title="Manage" logo="path/to/toolbar-logo.svg">
    <md-nav-list list-items dense>
      <h3 md-subheader>Listing Credit Note</h3>
      <a md-list-item [routerLink]="['/secure/listing/listing-credit-note']">
        <md-icon>label</md-icon>
        Listing Credit Note
      </a>
    </md-nav-list>
    <div toolbar-buttons layout="row" layout-align="start center" flex>
      <span flex></span>
    </div>

    <div md-content flex md-scroll-y>
        <form [formGroup]="editForm">
        <div layout="column" layout-gt-md="row" class="inset">
          <div flex-gt-md="70">
            <md-card>
                <md-card-title>Listing Credit Note</md-card-title>
                <md-card-subtitle>Insert start and end date</md-card-subtitle>
                <md-card>
                    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                      <md-input-container fxFlex="calc(100%-25px)">
                        <input mdInput type="date" placeholder="Start Date" formControlName="Start_date"/>
                      </md-input-container>
                    </div>
                    
                    <div fxLayout fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px">
                      <md-input-container fxFlex="calc(100%-25px)">
                        <input mdInput type="date" placeholder="End Date" formControlName="End_date"/>
                    </md-input-container>
                    </div>
  
                    <a md-button color="accent" class="text-upper" (click)="downloadReportListing('AC_BLG_013.jrxml&report.pdf', creditNote)" [target]="'_blank'">
                        <span>View Listing Credit Note</span>
                    </a>
  
                </md-card>
            </md-card>
          </div>
        </div>
      </form>
      </div>

  </td-layout-manage-list>
</td-layout-nav>
