<md-card>
  <md-card-title>#{{feeSchedule.description}}</md-card-title>
  <md-card-subtitle>{{feeSchedule.code}}</md-card-subtitle>

  <div layout="row" layout-wrap hide-xs hide-sm class="push-sm">
    <div layout="column" flex>
      <md-list dense>
        <md-list-item>
          <md-icon md-list-icon>local_offer</md-icon>
          <h4 md-line>{{feeSchedule?.cohortCode?.code}}</h4>
          <p md-line>Cohort</p>
        </md-list-item>
      </md-list>
    </div>
    <div layout="column" flex>
      <md-list dense>
        <md-list-item>
          <md-icon md-list-icon>local_offer</md-icon>
          <h4 md-line>{{feeSchedule?.studyMode?.descriptionMs}}</h4>
          <p md-line>Study Mode</p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</md-card>
